<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/{{editbook.id}}" method="post">
        {% csrf_token%}
       <input type="text" name="Bookname" value="{{editbook.bookname}}">
       <input type="author" name="author" value="{{editbook.author}}">
       <input type="discrption" name="discrption" value="{{editbook.discrption}}">
       <input type="submit" value="edit">


    </form>
</body>
</html>