<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student view</title>
</head>
<body>
    <table>
        <tr>
            <th>Bookname</th>
            <th>Author</th>
            <th>Discrption</th>
        </tr>
        {% for i in lview %}
        <tr>
            <td>{{i.bookname}}</td>
            <td>{{i.author}}</td>
            <td>{{i.discrption}}</td>
            <td ><a href="delete{{i.id}}">DELETE</a></td>
            <td><a href="ed/{{i.id}}">EDIT</a></td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>